# Ignore Python virtual environment
venv/

# Ignore large downloaded files and directories
symbols/
windows.zip
cridex.vmem

# Ignore sample images and test files
*.jpg
*.jpeg 
*.png
*.pcap
secret.txt  

# Ignore accidental files
To